
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<head>

    <style type="text/css">
        .content{
            background-color: rgba(255, 255, 255, 0.555);
            width: 80%;
            padding: 40px;
            margin: 100px auto;
        }

    </style>

</head>

<div class="container">
    <div class="content">

<h1>Change Password...</h1>
<br/><br/>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Change Password</button>

        <br><br><br><br>
        <ul>
            <li> Your password can’t be too similar to your other personal information.</li>

            <li> Your password must contain at least 8 characters.</li>

            <li> Your password can’t be a commonly used password.</li>

            <li> Your password can’t be entirely numeric.</li>


        </ul>
    </form>
</div>
</div>
</div>

<br/><br/><br/><br/><br/><br/>
{% endblock %}

