@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body,
html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

#articles-list {
  padding: 3rem;
}

#articles-list1 {
  padding: 1rem;
}

#img-div {
  text-align: center;
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#img-container {
  text-align: center;
  position: relative;
}

.container-fluid {
  padding-right: unset;
  padding-left: unset;
}

#img-text {
  position: absolute;
  top: 30%;
}

#img-text h1 {
  font-family: "Rampart One", Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 10px;
  color: #ea73ffee;
}

.navbar-brand {
  letter-spacing: 3px;
  margin-right: unset;
  font-weight: bold;
}

#profile .dropdown-item {
  width: 100%;
  padding: 0.5rem;
  white-space: unset !important;
}

#profile .dropdown-menu {
  width: 100%;
  min-width: unset;
}

#home-card.card {
  box-shadow: 0 8px 8px 0 rgb(112, 112, 112);
  padding: 16px;
  text-align: center;
  background-color: #110981cc;
  display: flex;
}

#snip {
  font-size: small;
}

#home-card-body .card-body {
  color: #fff;
}

.card-title {
  letter-spacing: 3px;
  font-size: x-large;
  text-transform: uppercase;
}

#capital-title{
  text-transform: uppercase;
}

#title a {
  font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.btn-solid-lg {
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.btn-solid-lg:hover {
  color: rgba(255, 158, 255, 0.863);
}

.card-text {
  color: rgb(0, 0, 0);
}

#profile-bio {
  color: rgb(8, 8, 7);
}

#artical-content .content{
  background-color: rgba(255, 255, 255, 0.555);
  width: 80%;
  padding: 40px;
  margin: 100px auto;
}

#profile-image {
  height: 150px;
  object-fit: cover;
}

#home-card {
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

#home-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#home-card .card-text {
  color: bisque;
}
