
{% extends 'base.html' %}

{% block title %}BLOG CATEGORIES{% endblock %}

{% block content %}

<head>
    <style type="text/css">
        .content{
            background-color: rgba(255, 255, 255, 0.555);
            width: 80%;
            padding: 40px;
            margin: 100px auto;
        }

    </style>

</head>

<div class="container">
    <div class="content">
<h1>Blog Categories</h1>

    {% for items in cat_menu_list %}
<ul>
<h4><a class="dropdown-item" href="{% url 'category' items|slugify %}">{{items}}</a></h4>
</ul>
    {% endfor %}
</div>
</div>


<br/><br/><br/><br/><br/><br/>
{% endblock %}

