
{% extends 'base.html' %}

{% block content %}

<head>
    <style type="text/css">
        .content{
            background-color: rgba(255, 255, 255, 0.555);
            width: 80%;
            padding: 40px;
            margin: 100px auto;
        }

    </style>

</head>

{% if category_posts %}



<div class="container">
    <div class="content">
        <!-- {% load static %} -->
        <!-- <div id="header"> -->
        
            <h1 id="header">{{ cats }}</h1>
        <!-- </div> -->


    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> -

            {{ post.author.first_name }}
            {{ post.author.last_name }}  -
            {{ post.post_date }}
            {% if user.is_authenticated %} -
                <small>

                    <a href="{% url 'update_post' post.pk %}">(Edit)</a>

                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                </small>
            {% endif %}
            <br/>
        {{ post.body|slice:":200"|safe }}
        </li>
    {% endfor %}
    </ul>
</div>
</div>

{% else %}

    <h2>sorry this page does not exist..... </h2>

{% endif %}


<br/><br/><br/><br/><br/><br/>
{% endblock %}

